<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enable location services for seeing your location</string>
	<key>UIAppFonts</key>
	<array>
		<string>EnchantedSword.ttf</string>
		<string>nokiafc22.ttf</string>
		<string>OwreKynge.ttf</string>
		<string>Retro Gaming.ttf</string>
	</array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
